<div class="bg-dark text-white p-3 sidebar">
  <h5>Navigation</h5>
  <ul class="list-unstyled">
    <li><a href="#temperature-trends" class="nav-link">Temperature Trends</a></li>
    <li><a href="#rainfall-irrigation" class="nav-link">Rainfall and Irrigation Tracker</a></li>
  </ul>
</div>
