<div class="bg-dark text-white p-3  sidebar">
  <h5>Navigation</h5>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="#temperature-section">Temperature Trends</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#rainfall-section">Rainfall and Irrigation Tracker</a>
    </li>
  </ul>
</div>
