<nav class="bg-dark text-white p-3 sidebar">
    <h5>User Functions</h5>
    <ul class="list-unstyled">
      <li><a href="/user/dashboard" class="text-white">Test Function 1</a></li>
    </ul>
  </nav>