<div class="add-user-container">
    <h2>Admin Add User Page</h2>
    <form class="add-user-form" action="/admin/add-user" method="POST">
      
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter email" required>
      </div>

      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter username" required>
      </div>

      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter password" required>
      </div>

      <div>
        <label for="role">Role:</label>
        <select id="role" name="role" required>
          <option value="User">User</option>
          <option value="Admin">Admin</option>
        </select>
      </div>

      <div class="add-user-actions">
        <!-- Create button -->
        <button type="submit">Create</button>
        <!-- Back button -->
        <a href="/home" class="back-btn">Back</a>
      </div>
    </form>
</div>