<header>
    <nav>
      <ul>
        <li><a href="/">Features</a></li>
        <li><a href="/pricing">Pricing</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </nav>
</header>
  