<main class="login-page">
    <section class="login-header">
      <h1>Login Page</h1>
    </section>

    <section class="login-container">
      <h2>FieldAI</h2>
      <p>Enter your credentials:</p>
      <form action="/login" method="post" class="login-form">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <div class="button-group">
          <button type="submit">Login</button>
          <button type="button" onclick="location.href='/register'">Register</button>
        </div>

      </form>
    </section>
  </main>
  