<main>
  <section class="pricing">
    <h1>Pricing</h1>
    <div class="pricing-container">
      <div class="pricing-card">
        <h2>Free</h2>
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          <li>Suspendisse quis nisi eu nunc maximus finibus a ut leo.</li>
          <li>Integer faucibus felis eget mauris pharetra, ut maximus magna lacinia.</li>
        </ul>
        <button class="pricing-btn">Trial Run</button>
      </div>
      <div class="pricing-card">
        <h2>Premium</h2>
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          <li>Suspendisse quis nisi eu nunc maximus finibus a ut leo.</li>
          <li>Integer faucibus felis eget mauris pharetra, ut maximus magna lacinia.</li>
        </ul>
        <button class="pricing-btn">Register</button>
      </div>
    </div>
  </section>
</main>