.custom-bg {
  background-color: #4f7942;
}
 
.custom-bg .navbar-brand {
  color: #ffffff;
}

.custom-bg .navbar-nav .nav-link {
  color: #ffffff;
}

.custom-bg .nav-link:hover {
  color: #cce7dd;
}

.sidebar {
  width: 250px;
  min-height: 100vh;
}

.flex-fill {
  flex: 1;
}