body, html {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

footer {
  background: #343a40;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

.custom-bg {
  background-color: #4f7942;
}
 
.custom-bg .navbar-brand {
  color: #ffffff;
}

.custom-bg .navbar-nav .nav-link {
  color: #ffffff;
}

.custom-bg .nav-link:hover {
  color: #cce7dd; /* Optional: Hover effect */
}
