<div class="container">
    <h2>View Account</h2>
    <form>
      <label>Email:</label>
      <input class="viewAccountText" type="text" value="<%= user.email %>" readonly>
      
      <label>Username:</label>
      <input class="viewAccountText" type="text" value="<%= user.username %>" readonly>

      <label>Date Joined:</label>
      <input class="viewAccountText" type="text" value="<%= user.date_joined %>" readonly>
  
      <div class="buttons">
        <button type="button" onclick="window.location.href='/home'">Back</button>
      </div>
    </form>
  </div>