<div class="add-batch-container">

    <form class="add-batch-form" action="/user/add-batch?sectorId=<%= sectorid %>" method="POST" enctype="multipart/form-data">


      <input type="hidden" name="sectorId" value="<%= sectorid %>">
      <div>
        <label for="name">Batch Name</label>
        <input type="text" name="name" id="name" placeholder="Enter your batch name" required>
        
      </div>

      <div>
        <label for="images">Upload Images</label>
        <input type="file" name="images" id="images" multiple required>        
      </div>

      <div class="add-batch-actions">
        <button type="submit">Run</button>
        <a onclick="window.location.href='/user/user-viewsector/<%= sectorid %>'" class="back-btn">Back</a>
      </div>
    </form>
</div>