<div class="container">
    <h2>Edit Account</h2>
    <form action="/user/edit-account" method="POST">
        <label for="email">Email:</label>
        <input class="viewAccountText" type="text" name="email" value="<%= user.email %>" required>
        
        <label for="username">Username:</label>
        <input class="viewAccountText" type="text" name="username" value="<%= user.username %>" required>

        <div class="buttons">
            <button type="submit">Save</button>
            <button type="button" onclick="window.location.href='/user/user-viewaccount/'" >Back</button>
        </div>
    </form>
</div>