<main class="about-page">
  <section class="about-content">
      <div class="about-image">
          <img src="/images/aboutImage.jpg" alt="Stock Photo">
      </div>
      <div class="about-text">
          <h1>About Us</h1>
          <h3>FieldAI</h3>
          <p>
              Lorem Ipsum sed vitae quam non enim dapibus condimentum. Nulla facilisi. Etiam interdum, felis vel scelerisque
              tristique, diam purus ultrices eros, sodales consectetur lacus tellus id orci. In tempor justo eget
              ullamcorper sodales. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
              himenaeos. Mauris quis justo eu massa pulvinar gravida. Proin pretium magna purus, a sodales augue
              consequat id. Sed venenatis pellentesque nulla vel facilisis. Duis vestibulum enim tortor, ac aliquam
              metus molestie id.
          </p>
      </div>
  </section>
</main>