<header class="main-header">
    <nav>
      <ul class="nav-links">
        <li><a href="/home">Home</a></li>
        <li><a href="/account">Account</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>
</header>