<header class="main-header">
  <nav>
      <ul class="nav-links">
          <li><a href="/home">Home</a></li>
          <li><a href="/user/user-viewaccount">Account</a></li>
          <li><a href="/logout">Logout</a></li>
      </ul>
  </nav>
  <div class="logo-container">
      <h1 class="logo-text">FieldAI</h1>
  </div>
</header>