<nav class="bg-dark text-white p-3 sidebar">
    <h5>User Functions</h5>
    <ul class="list-unstyled">
      <li><a href="/admin/dashboard" class="text-white">View Users</a></li>
      <li><a href="/admin/add-user" class="text-white">Add User</a></li>
      <li><a href="#" class="text-white">Manage Roles</a></li>
    </ul>
  </nav>